* {
  box-sizing: border-box;
  background-color: rgb(23, 23, 23);
  color: white;
  font-family: sans-serif;
}


.App {
  font-family: sans-serif;
  width: 100%;
}

.section1{
  width: 100%;
  height: fit-content;
  border-radius: 4px;
  border-color: white;
}

.Foto{
  width: 40%;
  min-width: 200pt;
  height: auto;
  border-radius: 4px;
  border-color: white;
  float: left;
}

.nama{
  width: 60%;
  float: right;
  height: 235px;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  border-radius: 4px;
  color: aliceblue;
  
}

.section2{
  width: 100%;
  height: fit-content;
}

.poinKiri{
  width: 40%;
  float: left;
}

.poinKanan{
  width: 60%;
  float: right;
}

.organisasi{
  width: 100%;
  float: left;
  align-items: center;
  text-align: center;
}

.organisasipenjelas {
  width: 100%;
  float: left;
}

.judulorganisasi {
  font-size: 18px;
}
/* .Foto {
  width: 40%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  color: white;
  margin-left: 0%;
  display: flex;
}


.DataDiri {
  float: left;
  width: 75%;
  text-align: left;
  margin-left: 25px;
  font-size: 30px;
}

.DataDiri-Nama {
  text-decoration: underline;
  font-weight: bolder;
  text-align: left;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

.DataDiri-Angkatan {
  text-align: left;
  color: rgb(255, 255, 255);
}

.BagianKiri {
  float: left;
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
}

.Atas {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
} */



 